<html>
  <head>
    <title>
      Applicant Not Trusted
    </title>
  </head>
  <body>
    <p>
      Applicant is now not trusted.
    </p>
    <a href="___RELATIVEHTMLPATH___index.html">Home</a>
  </body>
</html>
