#!/bin/sh
___GPGPATH___ --with-colons --fixed-list-mode --with-fingerprint --with-fingerprint --batch --no-default-keyring --no-auto-key-locate --keyring ___KEYRINGDIRPATH___/pubpubring.gpg --secret-keyring ___KEYRINGDIRPATH___/secsecring.gpg --trustdb-name ___KEYRINGDIRPATH___/sectrustdb.gpg --import $1

