sponsoremail=bob@example.com&applicantemail=charlie@example.com&signedapplicantpubkey=-----BEGIN PGP PUBLIC KEY BLOCK-----

mI0EWyRGBQEEAKZ1lcAQWt7TogRLAyrrGIw0GlJaDKbFKsHU/ZHwK/AGmtPgUq8W
6099OTQdrPDL0jHtfo2UscdglKo+vV96L8pxRzrz0H7B7JxKlIUBArFvGG7siMyD
tJGGTb39ck6yMOjHSAEvYcKmToWXG37Yn57qGl4MsMxiERzWjft4veLvABEBAAG0
LFdPVCBBZG1pbiAoV09UIFNpZ25lcikgPGNoYXJsaWVAZXhhbXBsZS5jb20+iLgE
EwECACIFAlskRgUCGy8GCwkIBwMCBhUIAgkKCwQWAgMBAh4BAheAAAoJEDvofRJG
6gRzPR8D/jYHjP2N3qJuWT5L/7zTOWpKoBLFRLSxJe43Jg6/EiN5vPuW7hjKCgik
a6pB1+159nvA+Cj8qvT3LH7nmx73JN+O+tSWpl0ukuPQ2zpEiIKWS5yuUTpp1DzI
lqbSQZC7+Lbf9CajZeBxF4ErUXFzxCDReG0f/9zpJXS6hUehoSadiJwEEAECAAYF
AlskRqgACgkQDVbszlaUYvmGmgQArbDuBd+tWrORq+zRQvGYYkr/CgC+1Sr9QRq2
JELRnheDdf21pszpAGfPuaOXFPcdufwUEAtjRbsAmuEM8Fls+I1CAiHBSPggtAFK
K9e9J2xK5oXe7/K95JWT90b1YMPnx1jprWtzXXuh/JdWuOVX+WWbos77LXJs1seB
mCfS+Vu5AQ0EWyRGBRAEAI6UrVn3kcM0ytt13Qxa5igyQrDDt/MPDM7VtUhIE/DY
C5SXOPYVCHWdnPGX5PBjLwvZfvhe7Z6fKarr/Ej2sHlJsCjZmznSjvFFbzYi8QuL
tRNitynDJEeYiwliJovzJ5nyqWqDg1P5U4Yc5D7BJOCyA4NYyI2otgdqIcWes/Xv
AAMHA/42RQ9OVeP7D29IPw0NJh//gUL+gtHYmuyoUIZRBEMZK9In/NFMtE0ld4wW
M+Az+w4Wo0vvLXukPCf9hV8AyBFeSo4aSgQWXiCETDw908UNhgOM70Qs5UA9X9In
A7cDiFqg1UiArr8bFxRJ+OuSs9KCqGzq3yAEv8nQybFqdY+G0oieBBgBAgAJBQJb
JEYFAhsMAAoJEDvofRJG6gRzeTsD+JtXaOn9TJED+zOcCx0jly2ZeMtxTf4aA9nS
cr4xMfPRFOQpMDYNzaJulZfHzLQQJwcrh/aaiPepHa7NhyzcA403p+G9Us3ebu2X
J33uJHiPJAKX7YDuwoBp3XUijPsjLUJdo7QuL5mTx+0j+37K8nUq5cpaO0OMviMu
bB5Pj/M=
=7UAP
-----END PGP PUBLIC KEY BLOCK-----
