sponsoremail=bob@example.com&sponsorpassword=badbobpassword&sponsorpubkey=-----BEGIN PGP PUBLIC KEY BLOCK-----

mI0EWyRF7AEEAMKRdLDPNfU0Jr2ENysHVuGuvpGNOVA+OpFLm1RxnKtLIGUHrxpq
lGGt6jxGa1NRHizI5D3dC781Y7lH/AxQEa8YxeeAYiaeMRvs79yGzxv6NMDNwGAp
xQhtrGGFsp4Xx/MDewkuLUtb21j0i6kM1A+hT1b6nvHvg2BYayNAbOExABEBAAG0
KFdPVCBBZG1pbiAoV09UIFNpZ25lcikgPGJvYkBleGFtcGxlLmNvbT6IuAQTAQIA
IgUCWyRF7AIbLwYLCQgHAwIGFQgCCQoLBBYCAwECHgECF4AACgkQDVbszlaUYvli
fgP9FkWwrnOZa5DvFReYcf9AOVJFvZM9VELVbHuB/fYVb2pH+Q3aTyoKAxdv5Nd/
kc8bkfLu5OJJRqk77DzrVfgTRC5zc2IES3weFE+1ggB7T+5JAghXyJCLnXOcZecL
YvkloT1GVesK077z80KrcqvyVgnSMXPticNCV8Z53JqIVkq5AQ0EWyRF7BAEAJep
i5mcDW6mCsMlBd9AafX/1yfC+w2czO6LF1WRUXFiXrb7FQWgJcaILkOJBerOVaOV
K+79TOQW1SJk4JlDaKgBUQ34PiiXGTfF5vzf8Vi5/9YD1n+SOQ/oIREvJd9DH/OA
MWC6zAd3dYmHevJch3lnTxJbeMfSs19LagoXd+I7AAMGA/9eo32nNIdSqyS9X/ma
eH1tErCFk7iY/MseXfEz255/LbGYR0rfg6c2udyzFUtbekGZPs2SxvMOz2Aj+4wY
Gy59f3lpqk51vNRMCOfzLgrD6Wv1w4p1CmapBekzjirPt+Pf1o2dOh+K6LM9wCOQ
ZVJrqdUg/DZoaXXv122h7l7+g4ifBBgBAgAJBQJbJEXsAhsMAAoJEA1W7M5WlGL5
ws8D/1ZmMGLFJPuSkf2QgtrLYxUPkiQT5n7raxQx17P+jxeOxc2OvOI+jTL/bhBc
HIoDK2GcGdbMgSQiQ6ExdswXzmNPi7Y/6mnvJK4pCW0lNNu158qhNb7vClhnItAE
mpKykJ+XUJS8FziWquJU2xPAJNBQPa4yVhYuDHpp718dlAXN
=K3P+
-----END PGP PUBLIC KEY BLOCK-----
