#!/bin/sh
___GPGPATH___ --homedir ___KEYRINGDIRPATH___ --fixed-list-mode --with-fingerprint --with-fingerprint --batch --no-default-keyring --no-auto-key-locate --with-colons --keyring ___KEYRINGDIRPATH___/pubpubring.gpg --secret-keyring ___KEYRINGDIRPATH___/secsecring --trustdb-name ___KEYRINGDIRPATH___/sectrustdb.gpg --list-keys $@
