<html>
  <head>
    <title>
      Same Email Address
    </title>
  </head>
  <body>
    <p>
      Email addresses must differ!
    </p>
    <a href="___RELATIVEHTMLPATH___index.html">Home</a>
  </body>
</html>
