-----BEGIN PGP PRIVATE KEY BLOCK-----

lQHYBFspTkcBBADgXhox+bGpVYZubZm3QUBEQhUqq3h4VBJz/oGekW4zt3Z4crsX
/8Q6REJZCDwPS2ZAcGMBy0DSmQLxiZ69wAdyoefFUZlbq10qZcOxeAGMq6ehrP9x
HgADvcNZe4qg3QrYQd5cmEiRSN2akOddIAkQE+Cg1pYELWcppXnHFfzqEwARAQAB
AAP+KpozpyGeVmTi7bzp3x4Ise1KT5vXeCGej1/YBN/gaPmBCUXfuKLcA6RKZNVn
chADDmFIq2KIoHRlVq+m8KixwPtwVfQIkqiUSEgloFdSWhRfhvHOyNPEVDXGTITP
eZ3tnCWS+j8VFNU0bHOS4S2G++A/1LYirocDLj+jOVjI3YECAO1UmoZoSV3h+pTB
7cjnddhy7Sk+buVH8bCNziohca/Mm9/ZrZfWBXwBGMYPBHPyEDIooTtt59cWQk6a
9qgnM9ECAPIEczM8IAVrCl3DdjsaD3H9a9OJ0jHdgye8nXCZMOA8oTQJdcTNT+3q
YTTDrSyfE3twomo1GUH0odRpnWjvLKMCAJXH1CoiWvQfq2wNhx/BZqn4a8GZE1cD
z/7lhWE02P1nP40Wo/GFEcb+KMUXp+CHxpSPBi3g63ZQwGkWMlw0ELeiDbQqV09U
IEFkbWluIChXT1QgU2lnbmVyKSA8YWxpY2VAZXhhbXBsZS5jb20+iLgEEwECACIF
AlspTkcCGy8GCwkIBwMCBhUIAgkKCwQWAgMBAh4BAheAAAoJEOx3AQobwHLe3o4D
/RkO5uYUOQPZNFCBSi6twV6HZRIzYqmg1VyyjfkfaBWbjyOmV0bBghUBLNf/rKXL
2kOyCDSfwzjhFYnvLVVxf5k0wGe6UFmv1x7bT1ArTlchAXxhF/yi8oPtoI9VX3pt
nn+iZDMTy0zkvPGNuj4RdJbAApmg9fJcYKnKbyxjpZoanQEyBFspTkcQBACefZnP
cXRHqJFGdOf1ipU9PnpjXxJm/cvsLTzwEgCcgR5dhN5RfqniCJJLgRbo4h5lCTyf
fdaHhMetTPJ7EFkchgClYoNnBleruKXkVy4ZX9NjdFyLTIk1PlyoRwX98FPGMOg7
pLrmLdtPndSRAbZ8vDgq5taIoRc34o8SasEijwADBQP/dDL17W0bOVz4jS+NfcVQ
Q5fwJNTsKXvA0CY5uqwtbKZhgL8zXOOBdkoKyy2fvl06X0JxXq+31i8DcsbPk2cs
ENbK5vqXQZgf+5rkF9oOHugf+EhjsBCtIgNffoCxpC0HegqVl1b/gAxeTSzcNfe/
Md7gmBll/6Cj7U1VoMaEfrwAAPoCVmcaDrlHtlAN22Q6HT42aWVcOPUpXpeE7oXU
EVPrzA5ZiJ8EGAECAAkFAlspTkcCGwwACgkQ7HcBChvAct5bKwP+PnZtfGlKPms+
4Tsm+1gghjhFlApwhMeIgcuNNzZSSMdRbmEV0MIGDMXTYAt/7Ol2EbUI0r70yP27
uInmxINnWYbmrQTb77n37ha/6Noa4ygWI78ocIohcIyifilAbqVaAvA9pqjdjEZi
R2slAvc6oS04ILQEz8/4xQNFTUSIl+U=
=Ufpl
-----END PGP PRIVATE KEY BLOCK-----
