#!/bin/sh
___GPGPATH___ --homedir ___KEYRINGDIRPATH___ --with-colons --fixed-list-mode --with-fingerprint --with-fingerprint --batch --yes --no-default-keyring --no-auto-key-locate --keyring ___KEYRINGDIRPATH___/pubpubring.gpg --secret-keyring ___KEYRINGDIRPATH___/secsecring.gpg --trustdb-name ___KEYRINGDIRPATH___/pubtrustdb.gpg --local-user $1 --sign-key $2

