<html>
  <head>
    <title>
      Sponsor Untrusted
    </title>
  </head>
  <body>
    <p>
      Sponsor is untrusted!
    </p>
    <a href="___RELATIVEHTMLPATH___index.html">Home</a>
  </body>
</html>
